<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    
    <connectionStrings>
        <add name="constring" connectionString="Data Source=DESKTOP-T134J91;Initial Catalog=BloodBankManagementSystem;Integrated Security=True" />
        <add name="BloodBankManagementSystem.Properties.Settings.BloodBankManagementSystemConnectionString"
            connectionString="Data Source=DESKTOP-T134J91;Initial Catalog=BloodBankManagementSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
   
</configuration>